// abstracts
@import "abstracts/mixins";
@import "abstracts/variables";

// base
// @import "base/base";
@import "base/reset";
@import "base/animations";
@import "base/typography";

// pages
@import "pages/home";

// layout
@import "layout/header";
@import "layout/navigation";
@import "layout/grid";

//componenets
// @import "components/button";
// @import "components/composition";
// @import "components/feature-box";
// @import "components/card";

.main {
    margin: 0 2.5rem;
    height: 95vh;
    border:1px solid black;
}