<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UltimateBoards</title>
    
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container body-content">
        <div class="container-home">
            <header class="header">
                <h1 class="header-primary">Ultimate Boards</h1>
                <div class="header__logo-box">
                    <img src="~/imgs/logo.png" class="header__logo" alt="">
                </div>
                <a class="btn" href="/login">login</a>
                <a class="btn" href="/">register</a>
            </header>
            <div class="nav">
                <a href="/home" class="nav__item">Feed</a>
                <a href="#" class="nav__item">Forums</a>
                <a href="/streams" class="nav__item">Streams</a>
                <a href="#" class="nav__item">Guides</a>
                <a href="#" class="nav__item">Events</a>
            </div>
            <div class="main row">
                @RenderBody()
            </div>
            <footer class="footer">
            
            </footer>
        </div>
    </div>
        
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.js"
                asp-fallback-test="window.jQuery">
        </script>
        
        
        <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
