.header {
    &-primary {
        font-size: 6rem;
        text-transform: uppercase;
    }
    a {
      font-size: 2rem;
      text-decoration: none;
    }
}

.nav {
    border: 1px solid black;
    padding: 2rem;
    &__item {
        font-size: 2rem;
        text-decoration: none;
        &:not(:last-child) {
            margin-right: 3rem;
        }
    }
}

.section-content__text-box {
    &__header {
        font-size: 3rem;
        .link {
            color: yellow;
            text-decoration: none;
        }    
    }
    .posted-date, .post-summary {
        font-size: 1.6rem;
        color: white;
    }
    .post-summary {
        font-weight: bold;
    }
    
}

