.header {
    &-primary {
        font-size: 6rem;
        text-transform: uppercase;
    }
    a {
      font-size: 2rem;
      text-decoration: none;
    }
}

.nav {
    border: 1px solid black;
    padding: 2rem;
    &__item {
        font-size: 2rem;
        text-decoration: none;
        &:not(:last-child) {
            margin-right: 3rem;
        }
    }
}

.section-content__text-box {
    &__header {
        font-size: 3rem;
        .link {
            color: yellow;
            text-decoration: none;
        }    
    }
    .posted-date, .post-summary {
        font-size: 1.6rem;
        color: white;
    }
    .post-summary {
        font-weight: bold;
    }
    
}


.forum-row {
    &__header a {
        text-decoration: none;
        font-size: 2.5rem;
        color: yellow;
    }
    &--col {
        color: white;
        .title {
            font-size: 1.4rem;
        }
        .count {
            margin-top: .8rem;
            font-size: 1.9rem;
        }
    }
    &__recent-info {
        .thread-title a {
            font-size: 1.8rem;
            color: yellow;
            text-decoration: none;
            text-transform: capitalize;
        }
        .time-posted {
            font-size: 1.6rem;
            color: $color-grey-1;
        }
        .last-poster a {
            font-size: 1.6rem;
            color: yellow;
        }
    }
}

.main-threads {
    &__header {
        font-size: 3rem;
        color: yellow;
        text-transform: uppercase;
    }
}

.thread-row {
    &__header {
        color: $color-grey-1;

        &--primary > a {
            color: goldenrod;
            font-size: 2rem;
        }
        &--secondary > a {
            color: darken($color-grey-2, 10%);
            &:hover {
                color: lighten($color-grey-2, 40%);
            }
        }
        a {
            text-decoration: none;
        }
    }
    &__stats {
        color: $color-grey-1;
        font-size: 1.25rem;
    }

    &__info {
        font-size: 1.15rem;
        color:$color-grey-1;
        &--last-poster > a {
            font-size: 1.25rem;
            color: goldenrod;
            text-decoration: none;
        }
    }
}
