@model User
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->

<div class="container">
    <h1>Register here!</h1>
    <form asp-action="Create" asp-controller="Home" method="post">
        <span asp-validation-for="FirstName"></span>                
        <label asp-for="FirstName" class="control-label">First Name</label>
        <input asp-for="FirstName" class="form-control">
        <span asp-validation-for="LastName"></span>                
        <label asp-for="LastName" class="control-label">Last Name</label>
        <input asp-for="LastName" class="form-control">
        <span asp-validation-for="Email"></span>        
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Password"></span>        
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control">
        <span asp-validation-for="Confirm"></span>                
        <label asp-for="Confirm" class="control-label">Confirm Password</label>
        <input asp-for="Confirm" class="form-control">
        <button type="submit" class="btn btn-success">Register!</button>
    </form>
    <a href="/login">Already Registered? Login Here</a>
</div>