<div class="col-3-of-4 forum-feed">
    <h2 class="section-header">DISCUSSION</h2>
    <div class="discussion-section">
        <div class="forum-row">
            <div class="forum-row__img-box">
                <img src="~/imgs/logo.png" alt="" class="forum-row__img">
            </div>
            <h3 class="forum-row__header"><a href="">Smash Ultimate General Discussion</a></h3>
            <div class="forum-row--col">
                <p class="title">Threads</p>
                <p class="thread-count count">234</p>
            </div>
            <div class="forum-row--col">
                <p class="title">Messages</p>
                <p class="message-count count">6343</p>
            </div>
            <div class="forum-row__recent-info">
                <p class="thread-title"><a href="">thread title here</a></p>
                <p class="time-posted">Today at 2:30pm</p>
                <p class="last-poster"><a href="">wario</a></p>
            </div>
        </div>
            <div class="forum-row">
            <div class="forum-row__img-box">
                <img src="~/imgs/logo.png" alt="" class="forum-row__img">
            </div>
            <h3 class="forum-row__header"><a href="">Smash Ultimate Character Discussion</a></h3>
            <div class="forum-row--col">
                <p class="title">Threads</p>
                <p class="thread-count count">634</p>
            </div>
            <div class="forum-row--col">
                <p class="title">Messages</p>
                <p class="message-count count">1143</p>
            </div>
            <div class="forum-row__recent-info">
                <p class="thread-title"><a href="">thread title here</a></p>
                <p class="time-posted">Saturday at 10:45pm</p>
                <p class="last-poster"><a href="">wario</a></p>
            </div>
        </div>
            <div class="forum-row">
            <div class="forum-row__img-box">
                <img src="~/imgs/logo.png" alt="" class="forum-row__img">
            </div>
            <h3 class="forum-row__header"><a href="">Smash Ultimate Competative Discussion</a></h3>
            <div class="forum-row--col">
                <p class="title">Threads</p>
                <p class="thread-count count">234</p>
            </div>
            <div class="forum-row--col">
                <p class="title">Messages</p>
                <p class="message-count count">6343</p>
            </div>
            <div class="forum-row__recent-info">
                <p class="thread-title"><a href="">thread title here</a></p>
                <p class="time-posted">53 minutes ago</p>
                <p class="last-poster"><a href="">wario</a></p>
            </div>
        </div>
            <div class="forum-row">
            <div class="forum-row__img-box">
                <img src="~/imgs/logo.png" alt="" class="forum-row__img">
            </div>
            <h3 class="forum-row__header"><a href="">Smash Ultimate Online Discussion</a></h3>
            <div class="forum-row--col">
                <p class="title">Threads</p>
                <p class="thread-count count">34</p>
            </div>
            <div class="forum-row--col">
                <p class="title">Messages</p>
                <p class="message-count count">443</p>
            </div>
            <div class="forum-row__recent-info">
                <p class="thread-title"><a href="">thread title here</a></p>
                <p class="time-posted">2 Weeks ago</p>
                <p class="last-poster"><a href="">wario</a></p>
            </div>
        </div>
    </div>
</div>
<div class="col-1-of-4">
    <div class="side-bar-section">
        
    </div>
</div>
