<div class="container-home">
    <header class="header">
        <h1 class="header-primary">Ultimate Boards</h1>
        <div class="header__logo-box">
            <img src="~/imgs/logo.png" class="header__logo" alt="">
        </div>
        <a class="btn" href="/login">login</a>
        <a class="btn" href="/">register</a>
    </header>
    <div class="nav">
        <a href="#" class="nav__item">Feed</a>
        <a href="#" class="nav__item">Forums</a>
        <a href="/streams" class="nav__item">Streams</a>
        <a href="#" class="nav__item">Guides</a>
        <a href="#" class="nav__item">Events</a>
    </div>
    <div class="main row">
        <div class="col-3-of-4 news-feed">
            <h2 class="section-header">FEED</h2>
            <div class="section-content">
                <div class="section-content__img-box">
                    <img src="~/imgs/test.jpg" alt="" class="section-content__img">
                </div>
                <div class="section-content__text-box">
                    <h2 class="section-content__text-box__header"><a class="link" href="#">Patch Notes 1.2</a></h2>
                    <p class="posted-date">Saturday at 6:49pm</p>
                    <p class="post-summary">
                        Today, Patch 1.2.0 for Super Smash Bros. Ultimate was released, notably two days after the patch’s announcement on December 11th, 2018.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="side-bar-section">
                
            </div>
        </div>
    </div>
    <footer class="footer">
    
    </footer>
</div>
