<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<script src="~/js/news.js"></script>

<div class="col-3-of-4 news-feed">
    <h2 class="section-header">FEED</h2>
    <div class="section-content">
        <div class="section-content__img-box">
            <img src="~/imgs/test.jpg" alt="" class="section-content__img">
        </div>
        <div class="section-content__text-box">
            <h2 class="section-content__text-box__header"><a class="link" href="#">Patch Notes 1.2</a></h2>
            <p class="posted-date">Saturday at 6:49pm</p>
            <p class="post-summary">
                Today, Patch 1.2.0 for Super Smash Bros. Ultimate was released, notably two days after the patch’s announcement on December 11th, 2018.
            </p>
        </div>
    </div>
</div>
<div class="col-1-of-4">
    <div class="side-bar-section">
        
    </div>
</div>
