<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<script src="~/js/stream.js"></script>
<link rel="stylesheet" href="~/css/streams.css">

<div id="main-stream"></div>
<div id="other-streams"></div>
