<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<script src="~/js/stream.js"></script>
<link rel="stylesheet" href="~/css/streams.css">

<div class="col-3-of-4 events-feed">
    <h2 class="section-header">STREAMS</h2>
    <div id="main-stream"></div>
    <div id="other-streams"></div>
</div>
<div class="col-1-of-4">
    <div class="side-bar-section">
        
    </div>
</div>
