<div class="thread-container">
    <div class="thread-container--nav">
        <span class="route"><a href="/forums">forums</a></span>
        <span class="arrow">&rarr;</span>
        <span class="route"><a href="/forums/1">general dicussion</a></span>
        <span class="arrow">&rarr;</span>
        <span class="route"><a href="/forums/1/1">thread name</a></span>
    </div>
    <div class="thread-header">
        <h3 class="thread-header--primary">
            Did Ultimate change your main character?
        </h3>
        <p class="thread-header--secondary">
            <a class="user" href="/user/1">Diddy Kong</a>
            <span class="thread-post-date">Saturday at 1:27 PM</span>
            <a class="new-comment-btn">new comment</a>
        </p>
    </div>
    <div class="thread-post">
        <div class="thread-post--user">
            <div class="thread-post--user__img-box">
                <img class="thread-post--user__img" src="~/imgs/user.png" alt="">
            </div>
            <p class="thread-post--user__name">Diddy Kong</p>
            <p class="thread-post--user__rank">Smash Obsessed</p>
            <p class="thread-post--user__joined-date">
                <span>Joined:</span>
                <span class="date">Dec, 8 2004</span>
            </p>
            <p class="thread-post--user__messages">
                <span>Messages:</span>
                <span class="messages">22,937</span>
            </p>
            <div class="user-roster">
                <img class="user-roster__img" src="~/imgs/user.png" alt="">
            </div>
        </div>
        <div class="thread-post--content">
            <p class="thread-post--content__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, possimus? Ipsum distinctio tempore perspiciatis error, reiciendis sunt voluptatem perferendis odio dignissimos nesciunt mollitia molestiae possimus quibusdam ratione excepturi minus quae, aliquid, accusamus voluptatum praesentium ut nisi reprehenderit. Nihil, aliquam illum ut voluptatem ipsa error blanditiis reprehenderit? Aperiam fugiat delectus quibusdam!</p>
        </div>
    </div>
</div>