<div class="main-threads">
    <h1 class="main-threads__header">
        Dicussion
    </h1>
    <div class="threads-container">
        <div class="thread-row">
            <div class="thread-row__img-box">
                <img src="~/imgs/user.png" alt="user profile image" class="thread-row__img">
            </div>
            <div class="thread-row__header">
                <h3 class="thread-row__header--primary"><a href="/forum/1/1">Heroes you refuse to play for dumb reasons</a></h3>
                <p class="thread-row__header--secondary">
                    By <a href="/user/1">User Name Here</a>
                    <span class="date-created">Mar 19 2018</span>
                </p>
            </div>
            <div class="thread-row__stats thread-col">
                <div class="thread-row__stats--row">
                    <span class="thread-row__stats--replies--primary">Replies:</span>
                    <span class="thread-row__stats--replies--secondary reply-count">120</span>
                </div>
                <div class="thread-row__stats--row">
                    <span class="thread-row__stats--views--primary">Views:</span>
                    <span class="thread-row__stats--views--secondary reply-count">20,332</span>
                </div>
            </div>
            <div class="thread-row__info thread-col">
                <p class="thread-row__info--last-poster">
                    <a href="/user/1">FizzBuzzMan</a>
                </p>
                <p class="thread-row__replies--date thread-last-updated">50 minutes ago</p>
            </div>
        </div>
        <div class="thread-row">
            <div class="thread-row__img-box">
                <img src="~/imgs/user.png" alt="user profile image" class="thread-row__img">
            </div>
            <div class="thread-row__header">
                <h3 class="thread-row__header--primary"><a href="/forum/1/1">Heroes you refuse to play for dumb reasons</a></h3>
                <p class="thread-row__header--secondary">
                    By <a href="/user/1">User Name Here</a>
                    <span class="date-created">Mar 19 2018</span>
                </p>
            </div>
            <div class="thread-row__stats thread-col">
                <div class="thread-row__stats--row">
                    <span class="thread-row__stats--replies--primary">Replies:</span>
                    <span class="thread-row__stats--replies--secondary reply-count">120</span>
                </div>
                <div class="thread-row__stats--row">
                    <span class="thread-row__stats--views--primary">Views:</span>
                    <span class="thread-row__stats--views--secondary reply-count">20,332</span>
                </div>
            </div>
            <div class="thread-row__info thread-col">
                <p class="thread-row__info--last-poster">
                    <a href="/user/1">FizzBuzzMan</a>
                </p>
                <p class="thread-row__replies--date thread-last-updated">50 minutes ago</p>
            </div>
        </div>
        <div class="thread-row">
            <div class="thread-row__img-box">
                <img src="~/imgs/user.png" alt="user profile image" class="thread-row__img">
            </div>
            <div class="thread-row__header">
                <h3 class="thread-row__header--primary"><a href="/forum/1/1">Heroes you refuse to play for dumb reasons</a></h3>
                <p class="thread-row__header--secondary">
                    By <a href="/user/1">User Name Here</a>
                    <span class="date-created">Mar 19 2018</span>
                </p>
            </div>
            <div class="thread-row__stats thread-col">
                <div class="thread-row__stats--row">
                    <span class="thread-row__stats--replies--primary">Replies:</span>
                    <span class="thread-row__stats--replies--secondary reply-count">120</span>
                </div>
                <div class="thread-row__stats--row">
                    <span class="thread-row__stats--views--primary">Views:</span>
                    <span class="thread-row__stats--views--secondary reply-count">20,332</span>
                </div>
            </div>
            <div class="thread-row__info thread-col">
                <p class="thread-row__info--last-poster">
                    <a href="/user/1">FizzBuzzMan</a>
                </p>
                <p class="thread-row__replies--date thread-last-updated">50 minutes ago</p>
            </div>
        </div>
        <div class="thread-row">
            <div class="thread-row__img-box">
                <img src="~/imgs/user.png" alt="user profile image" class="thread-row__img">
            </div>
            <div class="thread-row__header">
                <h3 class="thread-row__header--primary"><a href="/forum/1/1">Heroes you refuse to play for dumb reasons</a></h3>
                <p class="thread-row__header--secondary">
                    By <a href="/user/1">User Name Here</a>
                    <span class="date-created">Mar 19 2018</span>
                </p>
            </div>
            <div class="thread-row__stats thread-col">
                <div class="thread-row__stats--row">
                    <span class="thread-row__stats--replies--primary">Replies:</span>
                    <span class="thread-row__stats--replies--secondary reply-count">120</span>
                </div>
                <div class="thread-row__stats--row">
                    <span class="thread-row__stats--views--primary">Views:</span>
                    <span class="thread-row__stats--views--secondary reply-count">20,332</span>
                </div>
            </div>
            <div class="thread-row__info thread-col">
                <p class="thread-row__info--last-poster">
                    <a href="/user/1">FizzBuzzMan</a>
                </p>
                <p class="thread-row__replies--date thread-last-updated">50 minutes ago</p>
            </div>
        </div>
        <div class="thread-row">
            <div class="thread-row__img-box">
                <img src="~/imgs/user.png" alt="user profile image" class="thread-row__img">
            </div>
            <div class="thread-row__header">
                <h3 class="thread-row__header--primary"><a href="/forum/1/1">Heroes you refuse to play for dumb reasons</a></h3>
                <p class="thread-row__header--secondary">
                    By <a href="/user/1">User Name Here</a>
                    <span class="date-created">Mar 19 2018</span>
                </p>
            </div>
            <div class="thread-row__stats thread-col">
                <div class="thread-row__stats--row">
                    <span class="thread-row__stats--replies--primary">Replies:</span>
                    <span class="thread-row__stats--replies--secondary reply-count">120</span>
                </div>
                <div class="thread-row__stats--row">
                    <span class="thread-row__stats--views--primary">Views:</span>
                    <span class="thread-row__stats--views--secondary reply-count">20,332</span>
                </div>
            </div>
            <div class="thread-row__info thread-col">
                <p class="thread-row__info--last-poster">
                    <a href="/user/1">FizzBuzzMan</a>
                </p>
                <p class="thread-row__replies--date thread-last-updated">50 minutes ago</p>
            </div>
        </div>
        <div class="thread-row">
            <div class="thread-row__img-box">
                <img src="~/imgs/user.png" alt="user profile image" class="thread-row__img">
            </div>
            <div class="thread-row__header">
                <h3 class="thread-row__header--primary"><a href="/forum/1/1">Heroes you refuse to play for dumb reasons</a></h3>
                <p class="thread-row__header--secondary">
                    By <a href="/user/1">User Name Here</a>
                    <span class="date-created">Mar 19 2018</span>
                </p>
            </div>
            <div class="thread-row__stats thread-col">
                <div class="thread-row__stats--row">
                    <span class="thread-row__stats--replies--primary">Replies:</span>
                    <span class="thread-row__stats--replies--secondary reply-count">120</span>
                </div>
                <div class="thread-row__stats--row">
                    <span class="thread-row__stats--views--primary">Views:</span>
                    <span class="thread-row__stats--views--secondary reply-count">20,332</span>
                </div>
            </div>
            <div class="thread-row__info thread-col">
                <p class="thread-row__info--last-poster">
                    <a href="/user/1">FizzBuzzMan</a>
                </p>
                <p class="thread-row__replies--date thread-last-updated">50 minutes ago</p>
            </div>
        </div>
        <div class="thread-row">
            <div class="thread-row__img-box">
                <img src="~/imgs/user.png" alt="user profile image" class="thread-row__img">
            </div>
            <div class="thread-row__header">
                <h3 class="thread-row__header--primary"><a href="/forum/1/1">Heroes you refuse to play for dumb reasons</a></h3>
                <p class="thread-row__header--secondary">
                    By <a href="/user/1">User Name Here</a>
                    <span class="date-created">Mar 19 2018</span>
                </p>
            </div>
            <div class="thread-row__stats thread-col">
                <div class="thread-row__stats--row">
                    <span class="thread-row__stats--replies--primary">Replies:</span>
                    <span class="thread-row__stats--replies--secondary reply-count">120</span>
                </div>
                <div class="thread-row__stats--row">
                    <span class="thread-row__stats--views--primary">Views:</span>
                    <span class="thread-row__stats--views--secondary reply-count">20,332</span>
                </div>
            </div>
            <div class="thread-row__info thread-col">
                <p class="thread-row__info--last-poster">
                    <a href="/user/1">FizzBuzzMan</a>
                </p>
                <p class="thread-row__replies--date thread-last-updated">50 minutes ago</p>
            </div>
        </div>
        <div class="thread-row">
            <div class="thread-row__img-box">
                <img src="~/imgs/user.png" alt="user profile image" class="thread-row__img">
            </div>
            <div class="thread-row__header">
                <h3 class="thread-row__header--primary"><a href="/forum/1/1">Heroes you refuse to play for dumb reasons</a></h3>
                <p class="thread-row__header--secondary">
                    By <a href="/user/1">User Name Here</a>
                    <span class="date-created">Mar 19 2018</span>
                </p>
            </div>
            <div class="thread-row__stats thread-col">
                <div class="thread-row__stats--row">
                    <span class="thread-row__stats--replies--primary">Replies:</span>
                    <span class="thread-row__stats--replies--secondary reply-count">120</span>
                </div>
                <div class="thread-row__stats--row">
                    <span class="thread-row__stats--views--primary">Views:</span>
                    <span class="thread-row__stats--views--secondary reply-count">20,332</span>
                </div>
            </div>
            <div class="thread-row__info thread-col">
                <p class="thread-row__info--last-poster">
                    <a href="/user/1">FizzBuzzMan</a>
                </p>
                <p class="thread-row__replies--date thread-last-updated">50 minutes ago</p>
            </div>
        </div>
        <div class="thread-row">
            <div class="thread-row__img-box">
                <img src="~/imgs/user.png" alt="user profile image" class="thread-row__img">
            </div>
            <div class="thread-row__header">
                <h3 class="thread-row__header--primary"><a href="/forum/1/1">Heroes you refuse to play for dumb reasons</a></h3>
                <p class="thread-row__header--secondary">
                    By <a href="/user/1">User Name Here</a>
                    <span class="date-created">Mar 19 2018</span>
                </p>
            </div>
            <div class="thread-row__stats thread-col">
                <div class="thread-row__stats--row">
                    <span class="thread-row__stats--replies--primary">Replies:</span>
                    <span class="thread-row__stats--replies--secondary reply-count">120</span>
                </div>
                <div class="thread-row__stats--row">
                    <span class="thread-row__stats--views--primary">Views:</span>
                    <span class="thread-row__stats--views--secondary reply-count">20,332</span>
                </div>
            </div>
            <div class="thread-row__info thread-col">
                <p class="thread-row__info--last-poster">
                    <a href="/user/1">FizzBuzzMan</a>
                </p>
                <p class="thread-row__replies--date thread-last-updated">50 minutes ago</p>
            </div>
        </div>

    </div>
</div>