.main {

    .forum-feed {
        height: 90rem;
    }
    
    .section-header {
        background-color: darken($color-primary, 10%);
        margin-bottom: 1rem;
        font-size: 3rem;
    }

    .discussion-section {
        background-color: darken($color-primary, 10%);
        border: 1px solid black;
        height: 80%;
        padding: 1rem;

        .forum-row {
            height: 13%;
            border: 1px solid black;
            padding: 0;
            display:flex;
            align-items: center;
            margin-top: 2rem;

            &__img-box {
                margin-left: 2rem;
            }

            &__img {
                width: 5rem;  
            }

            &__header {
                margin-left: 2rem;
                margin-right: auto;
            }

            &--col {
                text-align: center;
                margin-right: 2rem;
            }
            &__recent-info {
                width: 25%;
                margin-left: 4rem;
                .time-posted, .last-poster {
                    display: inline-block;
                }
            }
        }
    }


    .side-bar-section {
        background-color: darken($color-primary, 10%);
        border: 1px solid black;
        height: 40rem;
    }
}