.main {
    .section-header {
        margin-bottom: 1rem;
        font-size: 3rem;
    }

    .section-content {
        border: 1px solid black;
        height: 22rem;
        display: flex;
        padding: 1rem;
        &__img-box {
            width: 30%;
            height: 100%;
        }

        &__img {
            width: 100%;
            max-height: 100%;
        }

        &__text-box {
            border: 1px solid black;
            margin-left: 2rem;

        }

        
    }

    .side-bar-section {
        border: 1px solid black;
        height: 95vh;
    }
}