*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* settting the root font size */
  /* one rem  == Value you want (10px) / default value (16px) == 62.5 */ }

body {
  box-sizing: border-box; }

.container-home {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, rgba(75, 65, 65, 0.85), rgba(0, 0, 0, 0.9)), url("../imgs/background-main.png");
  background-size: cover;
  background-repeat: no-repeat; }

.header-primary {
  font-size: 6rem;
  text-transform: uppercase; }

.header a {
  font-size: 2rem;
  text-decoration: none; }

.nav {
  border: 1px solid black;
  padding: 2rem; }
  .nav__item {
    font-size: 2rem;
    text-decoration: none; }
    .nav__item:not(:last-child) {
      margin-right: 3rem; }

.section-content__text-box__header {
  font-size: 3rem; }
  .section-content__text-box__header .link {
    color: yellow;
    text-decoration: none; }

.section-content__text-box .posted-date, .section-content__text-box .post-summary {
  font-size: 1.6rem;
  color: white; }

.section-content__text-box .post-summary {
  font-weight: bold; }

.forum-row__header a {
  text-decoration: none;
  font-size: 2.5rem;
  color: yellow; }

.forum-row--col {
  color: white; }
  .forum-row--col .title {
    font-size: 1.4rem; }
  .forum-row--col .count {
    margin-top: .8rem;
    font-size: 1.9rem; }

.forum-row__recent-info .thread-title a {
  font-size: 1.8rem;
  color: yellow;
  text-decoration: none;
  text-transform: capitalize; }

.forum-row__recent-info .time-posted {
  font-size: 1.6rem;
  color: #f7f7f7; }

.forum-row__recent-info .last-poster a {
  font-size: 1.6rem;
  color: yellow; }

.main-threads__header {
  font-size: 3rem;
  color: yellow;
  text-transform: uppercase; }

.thread-row__header {
  color: #f7f7f7; }
  .thread-row__header--primary > a {
    color: goldenrod;
    font-size: 2rem; }
  .thread-row__header--secondary > a {
    color: #d5d5d5; }
    .thread-row__header--secondary > a:hover {
      color: white; }
  .thread-row__header a {
    text-decoration: none; }

.thread-row__stats {
  color: #f7f7f7;
  font-size: 1.25rem; }

.thread-row__info {
  font-size: 1.15rem;
  color: #f7f7f7; }
  .thread-row__info--last-poster > a {
    font-size: 1.25rem;
    color: goldenrod;
    text-decoration: none; }

.main .news-feed {
  overflow-y: scroll;
  height: 80rem;
  overflow: -moz-scrollbars-none; }
  .main .news-feed::-webkit-scrollbar {
    display: none; }

.main .section-header {
  background-color: #302929;
  margin-bottom: 1rem;
  font-size: 3rem; }

.main .section-content {
  background-color: #302929;
  border: 1px solid black;
  height: 22rem;
  display: flex;
  margin: 2rem 0;
  padding: 1rem; }
  .main .section-content__img-box {
    width: 30%;
    height: 100%; }
  .main .section-content__img {
    width: 100%; }
  .main .section-content__text-box {
    border: 1px solid black;
    margin-left: 2rem;
    width: 60%; }
  .main .section-content .post-summary {
    margin-top: 3rem; }

.main .side-bar-section {
  background-color: #302929;
  border: 1px solid black;
  height: 40rem; }

.main .forum-feed {
  height: 90rem; }

.main .section-header {
  background-color: #302929;
  margin-bottom: 1rem;
  font-size: 3rem; }

.main .discussion-section {
  background-color: #302929;
  border: 1px solid black;
  height: 80%;
  padding: 1rem; }
  .main .discussion-section .forum-row {
    height: 13%;
    border: 1px solid black;
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: 2rem; }
    .main .discussion-section .forum-row__img-box {
      margin-left: 2rem; }
    .main .discussion-section .forum-row__img {
      width: 5rem; }
    .main .discussion-section .forum-row__header {
      margin-left: 2rem;
      margin-right: auto; }
    .main .discussion-section .forum-row--col {
      text-align: center;
      margin-right: 2rem; }
    .main .discussion-section .forum-row__recent-info {
      width: 25%;
      margin-left: 4rem; }
      .main .discussion-section .forum-row__recent-info .time-posted, .main .discussion-section .forum-row__recent-info .last-poster {
        display: inline-block; }

.main .side-bar-section {
  background-color: #302929;
  border: 1px solid black;
  height: 40rem; }

.main-threads {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black; }
  .main-threads__header {
    background-color: #302929; }
  .main-threads .threads-container {
    border: inherit;
    overflow-y: scroll;
    width: 100%;
    height: 60rem;
    background-color: #302929; }
    .main-threads .threads-container .thread-row {
      display: flex;
      padding: 1rem; }
      .main-threads .threads-container .thread-row:not(:first-child) {
        margin-top: 1.5rem; }
      .main-threads .threads-container .thread-row__img {
        width: 4rem; }
      .main-threads .threads-container .thread-row__header {
        margin-right: auto;
        margin-left: 1.5rem; }
      .main-threads .threads-container .thread-row__stats {
        margin-right: 10rem; }
        .main-threads .threads-container .thread-row__stats--row {
          display: flex;
          justify-content: space-between; }
      .main-threads .threads-container .thread-row .thread-col {
        width: 10rem; }

.header {
  display: flex;
  align-items: flex-end;
  margin: 0 2.5rem 2.5rem 2.5rem;
  padding: 1rem; }
  .header__logo-box {
    margin-left: 2rem; }
  .header__logo {
    width: 10rem; }
  .header .btn {
    margin-right: 4rem; }
  .header .btn:not(:last-child) {
    margin-left: auto; }

.nav {
  margin: 2.5rem;
  background-color: #302929; }

.row {
  max-width: 100%;
  margin: 0 auto;
  padding: 2.5rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.main {
  margin: 0 2.5rem;
  height: 95vh;
  border: 1px solid black; }
